/* main page */

#navbar {
  height: 80px;
}

img {
  border-radius: 30px;
}

body {
  background-image: url("../../assets/floralbkgrd.jpg");
  background-color: peachpuff;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#landingImg {
  text-align: center;
}

/* #cImgOne {
} */

#page-wrap {
  text-align: center;
}

#aboutme,
#contactme,
#portSection {
  margin-top: 100px;
}

#aboutInfo,
#portSection,
#carouselInfo,
h4 {
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
  display: flex;
  justify-content: center;
}

#aboutbox,
#portfolioBox,
#portSection,
#contactbox,
h4,
#portCards {
  background-color: rgba(0, 0, 0, 0.548);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

p {
  margin-left: 25px;
  margin-top: 15px;
  padding-top: 50px;
  color: whitesmoke;
  font-size: 20px;
}

#carouselText {
  color: black;
}

/* end main page */

/* portfolio page */
.containera {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  padding: 20px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.p_img {
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

#gitIcon,
#linkedIcon,
#resumeBtn,
#emailLink {
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.781);
}

#portCards {
  opacity: 0.7;
  margin-top: 20px;
}

#repo1,
#repo2,
#repo3,
#repo4,
#repo4a,
#repo5,
#repo6 {
  background-color: rgba(129, 75, 65, 0.726);
  color: white;
}

#portSection {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

h4 {
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

/* end portfolio page */

/* contact page */

#contactme {
  color: rgba(255, 255, 255, 0.781);
}

#eMail,
#linkedIcon2 {
  background-color: oldlace;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-weight: bold;
  margin-top: 20px;
}
/* end email form */

/* git hub and FB account page */

#github {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 60px;
  width: 89.6%;
  height: 150px;
  text-align: center;
  padding: 20px;
}

a {
  font-size: 20px;
  color: white;
}
